li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0
}

.footer {
  background-color: grey;
  padding: 10px 0
}

.social-media-icons a {
  color: black
}

.social-media-icons a:hover {
  color: grey
}

.social-media-icon {
  height: 40px
}
