.main-information {
  background-color: white;
  padding: 30px 25px 15px 25px;
  color: #3d3d3d;
}

.main-information-icon {
  height: 90px;
  float: left;
  padding: 10px
}

.main-information p {
  clear: both;
}
