.main-instructions {
  background-color: lightBlue;
  /* background: lightblue url("https://www.publicdomainpictures.net/pictures/220000/velka/open-blank-notebook-black-amp-white.jpg") no-repeat fixed center; */
  padding: 10px 0
}

.instruction-icon {
  height: 180px;
  padding-top: 10px
}
