li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 12px;
  border-radius: 10px;
  font-size: 12px;
  background-color: darkGrey
}

button:hover {
  cursor: pointer;
  background-color: grey
}

.nav-bar {
  background-color: lightBlue;
  padding: 10px 0
}
